/.vscode
/1.py
/2.py
/3.py
/5.py
/Bonafide.docx
/Chem 2.docx
/Chem 3.docx
/Doc2.docx
/Dumb.py
/employee.csv
/file.txt
/file2.txt
/Files.flka
/Final Phy.docx
/Five.py
/Folder Lock.lnk
/Front.docx
/Gpt.py
/INDEX.docx
/input.py
/Load.py
/menu
/myfile.txt
/MyS.py
/Newone.py
/Newwss.py
/Sal.py
/studentdetails.dat
/text.dat
/TOC.docx
/UpDaSql.py
/“employee.csv